<title>Nigma </title>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<!-- Angular toast - -->
<link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
<!-- socket io -->
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<!-- Angular and Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
<script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script src="/libs/angular-socket-io/socket.js"></script>

<script src="/javascripts/app.js"></script>



<!-- Controllers -->
<script src="/javascripts/controllers/PostsCtrl.js"></script>
<script src="/javascripts/controllers/JobsCtrl.js"></script>
<script src="/javascripts/controllers/viewJobCtrl.js"></script>
<script src="/javascripts/controllers/editJobCtrl.js"></script>
<script src="/javascripts/controllers/addJobCtrl.js"></script>
<script src="/javascripts/controllers/AuthCtrl.js"></script>
<script src="/javascripts/controllers/NavCtrl.js"></script>
<script src="/javascripts/controllers/ConnectCtrl.js"></script>
<script src="/javascripts/controllers/CodeCtrl.js"></script>
<script src="/javascripts/controllers/CommunityCtrl.js"></script>

<script src="/javascripts/controllers/MainCtrl.js"></script>



<link rel="stylesheet" href="../stylesheets/style.css" type="text/css">  <!-- Custom CSS -->


<style> .glyphicon-thumbs-up {
        cursor: pointer
    }
</style>

