<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
<body ng-app="nigma">
    <header>
        <% include ./partials/header.ejs %>
    </header>
    <!-- <div class="row"> -->
            <ui-view></ui-view>
    <!-- </div> -->
<script type="text/ng-template" id="/home.html"><% include ./pages/home.ejs %></script>
    <script type="text/ng-template" id="/categories.html"><% include ./pages/posts.ejs %></script>

    <script type="text/ng-template" id="/posts.html"><% include ./pages/posts.ejs %></script>
<script type="text/ng-template" id="/register.html"><% include ./pages/register.ejs %></script>
<script type="text/ng-template" id="/login.html"><% include ./pages/login.ejs %></script>
<script type="text/ng-template" id="/code.html"> <% include ./pages/code.ejs %></script>
<script type="text/ng-template" id="/connect.html"> <% include ./pages/connect.ejs %></script>
<script type="text/ng-template" id="/career.html"> <% include ./pages/career.ejs %></script>
<script type="text/ng-template" id="/community.html"> <% include ./pages/community.ejs %></script>
<script type="text/ng-template" id="/projects.html"> <% include ./pages/projects.ejs %></script>
<script type="text/ng-template" id="/editJob.html"> <% include ./pages/editJob.ejs %></script>
<script type="text/ng-template" id="/viewJob.html"> <% include ./pages/viewJob.ejs %></script>
<script type="text/ng-template" id="/addJob.html"> <% include ./pages/addJob.ejs %></script>
<script type="text/ng-template" id="/addEvent.html"> <% include ./pages/addEvent.ejs %></script>
<script type="text/ng-template" id="/editEvent.html"> <% include ./pages/editEvent.ejs %></script>
<script type="text/ng-template" id="/viewEvent.html"> <% include ./pages/viewEvent.ejs %></script>
<script type="text/ng-template" id="/addProject.html"> <% include ./pages/addProject.ejs %></script>
<script type="text/ng-template" id="/editProject.html"> <% include ./pages/editProject.ejs %></script>
<script type="text/ng-template" id="/viewProject.html"> <% include ./pages/viewProject.ejs %></script>
<script type="text/ng-template" id="/editProfile.html"> <% include ./pages/editProfile.ejs %></script>




</body>
</html>