<div class="container">
    <div class="jumbotron" ng-controller="CareerCtrl">
        <h2>Add Job:</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Job Title:</th>
                <th>Company:</th>
                <th>Location:</th>
                <th>Job Type:</th>
                <th>Job Description:</th>
                <th>Salary</th>
                <th>Apply via:</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input class="form-control" ng-model="job.jobTitle"></td>
                <td><input class="form-control" ng-model="job.company"></td>
                <td><input class="form-control" ng-model="job.location"></td>
                <td><input class="form-control" ng-model="job.jobType"></td>
                <td><input class="form-control" ng-model="job.jobDescription"></td>
                <td><input class="form-control" ng-model="job.salary"></td>
                <td><input class="form-control" ng-model="job.apply"></td>
                <td><button class="btn btn-primary" ng-click="addJob()">Add Job</button></td>
            </tr>
            <tr ng-repeat="job in jobs">
                <td>{{job.Title}}</td>
                <td>{{job.company}}</td>
                <td>{{job.location}}</td>
                <td>{{job.jobType}}</td>
                <td>{{job.jobDescription}}</td>
                <td>{{job.salary}}</td>
                <td>{{job.apply}}</td>
                <td><button class="btn btn-danger" ng-click="remove(job._id)">Remove</button></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Add Job </a>

        <p>Job List</p>
        <input ng-model="test">
        {{test}}
    </div>
</div>