<div class="container">
    <div class="jumbotron" ng-controller="JobsCtrl">
        <h1>Career <small>Intern,Placement and Graduate Roles</small></h1>
        <table class="table">
            <thead>
            <tr>
                <th>Job Title:</th>
                <th>Company:</th>
                <th>Location:</th>
                <th>Job Type:</th>
                <th>Salary</th>
                <th>Apply via:</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="job in jobs">
                <td>{{job.jobTitle}}</td>
                <td>{{job.company}}</td>
                <td>{{job.location}}</td>
                <td>{{job.jobType}}</td>
                <td>{{job.salary}}</td>
                <td>{{job.apply}}</td>
                <td><button class="btn btn-primary" ui-sref="viewJob({id: job._id})"><i class="ion-search"></i> View</button></td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-lg btn-success" ng-show="isLoggedIn()" ui-sref="addJob"><i class="ion-plus-circled"></i> Add Job </a>
        <div ng-hide="isLoggedIn()">
            <p>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a>
                before you can add a Job.</p>
            <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in </a>
            <a class="btn btn-lg btn-primary" href="#/register"><i class="ion-person-add"></i> Create Account </a>
        </div>

    </div>
</div>