<div class="container">
    <div class="jumbotron">

        <div  ng-show="isMeetupAvailable()" ng-repeat="event in events">

            <h2>Last Nigma Event: </h2>

            <p><strong>Title: </strong> {{event.name}} </p>

            <p><strong>Address:</strong> {{event.venue.name}}, {{event.venue.address_1}} , {{event.venue.city}}</p>

            <p><strong>Date:</strong> {{event.time | date: 'dd/MM/yyyy'}} </p>

            <p><strong>Time:</strong> {{event.time | date: 'HH:mm a'}} </p>

            <p><strong>RSVP:</strong> We had {{event.yes_rsvp_count}} {{event.group.who}} with
                {{event.waitlist_count}} on the waiting list. </p>

            <iframe width="600" height="450" frameborder="0" style="border:0"
                    ng-src="{{trustSrc(event.venue.city)}}" allowfullscreen></iframe>


        </div>
        <div ng-show="!isMeetupAvailable()"> <h2>{{noUpcomingEvents}}</h2></div>
    </div>
</div>