<div class="container">
    <div class="jumbotron" ng-controller="viewEventCtrl">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend><h2>View Event</h2></legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Title:</label>
                    <div class="col-md-5">
                        {{event.title}}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Description</label>
                    <div class="col-md-5">
                        {{event.description}}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Venue</label>
                    <div class="col-md-2">
                        {{event.venue}}

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Street Address</label>
                    <div class="col-md-2">
                        {{event.address}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Town/City</label>
                    <div class="col-md-2">
                        {{event.town}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">County</label>
                    <div class="col-md-2">
                        {{event.county}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Postcode</label>
                    <div class="col-md-2">
                        {{event.postcode}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Starts At</label>
                    <div class="col-md-2">
                        {{event.startsAt}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Ends At</label>
                    <div class="col-md-2">
                        {{event.endsAt}}
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label">Website</label>
                    <div class="col-md-2">
                        {{event.website}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Email</label>
                    <div class="col-md-2">
                        {{event.email}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Telephone</label>
                    <div class="col-md-2">
                        {{event.phone}}
                    </div>
                </div>

                <button class="btn btn-primary btn-lg" ui-sref="editEvent({id: event._id})">Edit Event</button>
            </fieldset>
        </form>

    </div>

</div>